// === COLORS === //
$backgroundColor: rgb(128, 113, 171);
$primaryColor: rgb(11, 2, 88);
$secondaryColor: rgb(40, 145, 19);
$ternaryColor: purple;
$quarternaryColor: green;

$titlePrimaryColor: black;
$titleSecondaryColor:rgb(0, 54, 203);


// === SIZES === //

// === TESTINGS === //
$borderTest: 1px dashed black;